APPLICATION_NAME=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

URL_DB=
USERNAME_DB=
PASSWORD_DB=

SPRING_PROFILES_ACTIVE=

JWT_SECRET=

USERNAME_GOOGLE=
PASSWORD_GOOGLE=

ALLOWED_ORIGINS=